<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs', {role: role}) %>
        <main>
            <section class="mb-5 text-center">

                <h4>New password for <%= user.email %></h4>
                <br/>
                <form method="POST" action="/users/user/<%=user._id %>/password">
                    <div class="changePassDiv">
                        <div class="form-group">
                            <input name="password1" type="password" id="newPass" class="form-control">
                            <label data-error="wrong" data-success="right" for="newPass">New password</label>
                        </div>
                    
                        <div class="form-group">
                            <input name="password2" type="password" id="newPassConfirm" class="form-control" onchange='check_pass();'>
                            <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
                        </div>
                    </div>
                    <input type='hidden' name='changingPassword' value='<%=selfChange %>' />
                    <p id="passP" hidden>Passwords do not match</p>
                    <button id="submit" type="submit" onsubmit="check_pass()" class="btn btn-primary mb-4" disabled>Change password</button>
                </form>
            </section>
        </main>
    </body>
</html>

<script>
    function check_pass() {
     if (document.getElementById('newPass').value == document.getElementById('newPassConfirm').value) {
         document.getElementById('submit').disabled = false;
         document.getElementById('passP').hidden = true
     } else {
         document.getElementById('submit').disabled = true;
         document.getElementById('passP').hidden = false
         document.getElementById('passP').style.color = 'red'
     }
 }
 </script>
