<%- include('../includes/head.ejs') %>

  </head>

  <body>
    <%- include('../includes/navigation.ejs', {role: role}) %>
      <main>
        <% if(success) {%>
          <% if(success.status === true) { %>
            <div class="alert alert-success">
              <strong><%= success.message %></strong>
            </div>
          <% } else if(success.status === false) { %> 
            <div class="alert alert-danger">
              <strong><%= success.message %>. Reason: <%=success.error %></strong>
            </div>
          <% } %>
        <% } %>
        <h3>Search Projects</h3>
        <div class="box-form">
          <form action="/projects" , method="GET">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputWords">Keywords</label>
                <input type="text" name="keywords" class="form-control" id="inputWords" placeholder="keywords">
              </div>
              <div class="form-group col-md-4">
                <label for="inputSector">Sector</label>
                <input
                    onkeyup="showState('Sector;'+this.value, document.getElementById('datalistSector'), this)"
                    list="datalistSector" autocomplete="off" type="text" name="sector" class="form-control"
                    id="inputSector" placeholder="Sector">
              </div>
              <div class="form-group col-md-4">
                <label for="inputSector">Technology</label>
                <input
                    onkeyup="showState('Technology;'+this.value, document.getElementById('datalistTechnology'), this)"
                    list="datalistTechnology" autocomplete="off" type="text" name="technology" class="form-control"
                    id="inputTechnology" placeholder="Technology">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="sel1">To (€)</label>
                <select name="to" class="form-control" id="sel1">
                  <option selected>0</option>
                  <option>50k</option>
                  <option>150k</option>
                  <option>300k</option>
                  <option>600k</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="sel1">From (€)</label>
                <select name="from" class="form-control" id="sel1">
                  <option selected>0</option>
                  <option>50k</option>
                  <option>150k</option>
                  <option>300k</option>
                  <option>600k</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <% if(role !== 'basic'){ %>
              <a href="/projects/new-project" class="btn btn-secondary">Create Project</a>
            <% } %> 
            
          </form>
        </div>
        <div class="showResults">
          <% if(projects) { %>
            <div class="results">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-uppercase mb-0">Manage Projects</h5>
                      </div>
                      <div class="table-responsive">
                        <table class="table no-wrap user-table mb-0">
                          <thead>
                            <tr>
                              <th scope="col" class="border-0 text-uppercase font-medium pl-4">Project Name</th>
                              <th scope="col" class="border-0 text-uppercase font-medium">Author</th>
                              <th scope="col" class="border-0 text-uppercase font-medium">Budget</th>
                              <th scope="col" class="border-0 text-uppercase font-medium">Added</th>
                              <th scope="col" class="border-0 text-uppercase font-medium">Info</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (let p of projects) {%>
                              <tr>
                                <td>
                                  <h5 class="font-medium mb-0 pl-4">
                                    <%=p.name%>
                                  </h5>
                                </td>
                                <td>
                                  <span class="text-muted">
                                    <%=p.author%>
                                  </span><br>
                                </td>
                                <td>
                                  <!-- <select class="form-control category-select" id="exampleFormControlSelect1">
                                            <option>Admin</option>
                                            <option>Internal</option>
                                            <option>Basic</option>
                                          </select> -->
                                  <span class="text-muted">
                                    <%=p.budget%>
                                  </span>
                                </td>
                                <td>
                                  <span class="text-muted">
                                    <%=p.createdAt.toString().substring(4, 15) %>
                                  </span>
                                </td>
                                <td>
                                  <form method="GET" action="/projects/project/<%=p._id%>">
                                    <!-- <input type="hidden" name="_method" value="PATCH" /> -->
                                    <button type="submit" title="EDIT"
                                      class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                                      <i class="fas fa-info"></i>
                                    </button>
                                  </form>
                                </td>
                              </tr>
                              <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
      </main>
      <datalist id="datalistSector">
        <option>Loading...</option>
      </datalist>
      <datalist id="datalistTechnology">
        <option>Loading...</option>
      </datalist>
  </body>
  <script src="/js/ajax.js"></script>
  </html>

