<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/popup.css">
    

    </head>

    <body>
        <%- include('../includes/navigation.ejs', {role: role}) %>
            <main>
                <% if(success) {%>
                    <% if(success.status === 'success') { %>
                      <div class="alert alert-success">
                        <strong><%= success.message %></strong>
                      </div>
                    <% } else if(success.status === 'error') { %> 
                      <div class="alert alert-danger">
                        <strong>'Error'. Reason: <%=success.message %></strong>
                      </div>
                    <% } %>
                  <% } %>
                <div class="project-details rounded">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="project-info-box mt-0">
                                    <h5>PROJECT DETAILS</h5>
                                    <p class="mb-0">Vivamus pellentesque, felis in aliquam ullamcorper, lorem tortor
                                        porttitor erat, hendrerit porta nunc tellus eu lectus. Ut vel imperdiet est.
                                        Pellentesque condimentum, dui et blandit laoreet, quam nisi tincidunt tortor.
                                        <a><i class="far fa-edit"></i></a></p>
                                </div><!-- / project-info-box -->

                                <div class="project-info-box">
                                    <p><b>Author:</b>
                                        <%=project.authorEmail %>
                                            <% if(role==='admin') { %> 
                                                <button id="editAuthor" class="btn btn-light"><i class="far fa-edit"></i></button>
                                            <% } %>
                                    </p>
                                    <p><b>Client:</b> CUPCAKE CO</p>
                                    <p><b>Date:</b> 14.02.2020</p>
                                    <p><b>Designer:</b> James Doe</p>
                                    <p><b>Tools:</b> Illustrator</p>
                                    <p class="mb-0"><b>Budget:</b> $500</p>
                                </div><!-- / project-info-box -->

                                <!-- / project-info-box -->
                            </div><!-- / column -->

                            <div class="col-md-7">
                                <img src="https://via.placeholder.com/400x300/FFB6C1/000000" alt="project-image"
                                    class="rounded">
                                <div class="project-info-box">
                                    <p><b>Categories:</b> Design, Illustration</p>
                                    <p><b>Skills:</b> Illustrator</p>
                                </div><!-- / project-info-box -->
                            </div><!-- / column -->
                        </div>
                    </div>
                </div>
            </main>



            <!-- POPUP -->
            <section id="myPopup" class="modal mb-5 text-center">
                
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h4>New Author</h4>
                    <br/>
                    <form method="POST" action="/projects/project/<%=project._id %>/author">
                        <div class="changePassDiv">
                            <div class="form-group">
                                <input name="email1" type="email" id="newPass" class="form-control">
                                <label data-error="wrong" data-success="right" for="newPass">New email</label>
                            </div>
                        
                            <div class="form-group">
                                <input name="email2" type="email" id="newPassConfirm" class="form-control" onchange='check_pass();'>
                                <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm email</label>
                            </div>
                        </div>
                        <p id="passP" hidden>Emails do not match</p>
                        <button id="submit" type="submit" onsubmit="check_email()" class="btn btn-primary mb-4" disabled>Change Author</button>
                    </form>
                    
                </div>
            </section>


            <script src="/js/popup.js"></script>
    </body>
</html>