<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs', {role: mainUser.role}) %>
      <main>
        <% if(success) {%>
          <% if(success.status === true) { %>
            <div class="alert alert-success">
              <strong><%= success.message %></strong>
            </div>
          <% } else if(success.status === false) { %> 
            <div class="alert alert-danger">
              <strong><%= success.message %>. Reason: <%=success.error %></strong>
            </div>
          <% } %>
        <% } %>
        <h3>Search Users</h3>
        <div class="box-form">
          <form action="/users" , method="POST">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="User's email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" name="name" class="form-control" id="inputName" placeholder="User's name">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/users/new-user" class="btn btn-secondary">Create User</a>
          </form>
        </div>
        <div class="showResults">
            <% if(users) { let c=0%>
              <div class="results">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                        </div>
                        <div class="table-responsive">
                          <table class="table no-wrap user-table mb-0">
                            <thead>
                              <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Added</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Category</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% for (let user of users) { c++ %>
                                <tr>
                                  <td class="pl-4">
                                    <%= c%>
                                  </td>
                                  <td>
                                    <h5 class="font-medium mb-0">
                                      <%=user.name%>
                                    </h5>
                                  </td>
                                  <td>
                                    <span class="text-muted">
                                      <%=user.email%>
                                    </span><br>
                                  </td>
                                  <td>
                                    <span class="text-muted">
                                      <%=user.createdAt.toString().substring(4, 15) %>
                                    </span>
                                  </td>
                                  <td>
                                    <!-- <select class="form-control category-select" id="exampleFormControlSelect1">
                                              <option>Admin</option>
                                              <option>Internal</option>
                                              <option>Basic</option>
                                            </select> -->
                                    <span class="text-muted">
                                      <%=user.role%>
                                    </span>
                                  </td>
                                  <td>
                                    
                                    <% if(mainUser._id.toString() !== user._id.toString()){ %>
                                      <form method="POST" action="/users/user">
                                          <input type="hidden" name="_method" value="PATCH" />
                                          <input type="hidden" name="userId" value="<%=user._id%>">
                                          <button type="submit" title="EDIT"
                                          class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                                          <i class="fas fa-edit"></i>
                                        </button>
                                      </form>
                                      <form onsubmit="return confirm('Do you really want to delete this user?');" method="POST" action="/users/user">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <input type="hidden" name="userId" value="<%=user._id%>">
                                        <button type="submit" title="DELETE"
                                          class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                                          <i class="fas fa-trash"></i>
                                        </button>
                                      </form>
                                    <% }%>
                                  </td>
                                </tr>
                                <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
      </main>
  </body>

</html>